<section>

    <a id="title_page"></a>
    <div ng-parallax pattern="'/img/pictures/visu-top-contact.png'" speed="10" reverse="false" class="headers">
        <div class="container text-center">
            <h1 class="intro-title" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title"> {{$ctrl.page.content.title}}</h1>
        </div>
        <div class="container text-center">
            <img class="img-responsive redline" src="/img/icons/line.png">
            <p class="intro-subtitle" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para1">{{$ctrl.page.content.para1}}</p>
            <div class="icon-scroll container text-center">
                <a class="icon_scroll" ng-click="$ctrl.gotofirstPart()"></a>
            </div>
        </div>
    </div>
    <adminnav edit-mode="$ctrl.editMode" ng-model="$ctrl.page" />

    <a id="firstPart"></a>
    <div class="container-fluid normal_bloc text-justify">
        <div class="row">
            <h1 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head2"> {{$ctrl.page.content.head2}}</h1>
            <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para2">{{$ctrl.page.content.para2}}</p>
        </div>
        <div class="row contact_ac">
            <div style="line-height: 30px;">
                <img class="col-xs-2 col-md-offset-1 col-md-1 picto" src="/img/icons/picto-adresse.png">
                <div class="col-xs-10 col-md-4">
                    <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para3"> {{$ctrl.page.content.para3}}</p>
                </div>
            </div>
            <div class="col-xs-12 col-md-offset-1 col-md-5 contact_ac_email">
                <div class="row" style="line-height: 34px;">
                    <img class="col-xs-6 col-md-offset-1 col-md-2 picto" src="/img/icons/picto-mail.png">
                    <div class="col-xs-8 col-md-10">
                        <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para4"> {{$ctrl.page.content.para4}}</p>
                    </div>
                </div>
                <div class="row" style="line-height: 34px;">
                    <img class="col-xs-6 col-md-offset-1 col-md-2 picto" src="/img/icons/picto-tel.png">
                    <div class="col-xs-8 col-md-10">
                        <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para5"> {{$ctrl.page.content.para5}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <map/>



    <div class="container-fluid normal_bloc text-justify">
        <div class="row">
            <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para2"> {{$ctrl.page.content.para2}}
            </p>
        </div>
    </div>

    <div class="container normal_bloc">
        <contactform/>
    </div>

    <div class="icon-scroll container text-right">
        <a ng-click="$ctrl.gototitle()" class="icon_scroll_top"></a>
    </div>

</section>
