<section>

<button type="button" class="btn btn-default ctab center-block btn-lg" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">Contact Us Before Someone Else Does</button>
<hr>
<div uib-collapse="$ctrl.isCollapsed">
<div class="well well-lg">

<form name="contactForm" ng-submit="" novalidate>

  <div class="container-fluid form1">
      <div class="row">

          <div class="form-group col-xs-12 input-group">
              <span class="input-group-addon"><i class="fa fa-user-plus"></i></span>
              <input type="text" class="form-control" placeholder="Name" id="usr" ng-model="contact.name" ng-required="true"/>
            </div>

            <div ng-show="contactForm.name.$touched && contactForm.name.$invalid">
              <small style="color: red; display: block; text-align: center;">Enter a valid name</small>
            </div>

            <div class="form-group col-xs-12 input-group">
                <span class="input-group-addon" ><i class="fa fa-at"></i></span>
                <input type="email" class="form-control" placeholder="Email" id="email" ng-model="contact.email" ng-required="true"/>
            </div>

          <div class="form-group col-xs-12 input-group">
              <span class="input-group-addon" ><i class="fa fa-building-o"></i></span>
              <input type="text" class="form-control" placeholder="Company" id="company" ng-model="contact.company"/>
          </div>


          <div class="form-group col-xs-12 input-group">
              <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
              <input type="text" class="form-control" placeholder="Subject" id="subject" ng-model="contact.subject" ng-required="true"/>
          </div>

          <div class="col-xs-12 textarea input-group">
            <span class="input-group-addon"><i class="fa fa-paper-plane-o"></i></span>
              <textarea class="form-control" rows="6" placeholder="Leave a Message" ng-required="true"></textarea>
          </div>


        <div class=" form-group col-xs-12 checkbox text-center">
              <label><input type="checkbox" value="">Co-working</label>
          </div>

          <div class="form-group col-xs-12 checkbox text-center">
              <label><input type="checkbox" value="">Bureau équipés</label>
          </div>

          <div class="form-group col-xs-12 checkbox text-center">
              <label><input type="checkbox" value="">Salle de réunion</label>
          </div>


     <div class=" form-group col-xs-12 checkbox text-center">
    <label><input type="checkbox" value="">Demander une Visite</label>
    </div>

    <button type="submit" value="Send" class="btn btn-default center-block btn1" ng-disabled="contactForm.$invalid">Submit</button>

      </div>
  </div>

</form>
</div>
</div>
<!-- ================================
CONTACT FORM
====================================== -->

<!-- ================================
CONTACT FORM
====================================== -->

<!-- ================================
START OF GOOGLE GEO LOCATION
====================================== -->
<div class="container-fluid">
<div class="row">
<div id="containermap" class=" col-6">
  <section id="wrapper" class="map">
      <article></article>
  </section>
</div>
</div>
</div>
<!-- ================================
END OF GOOGLE GEO LOCATION
====================================== -->
<div id="map"></div>
<!-- ================================
FOOTER START
====================================== -->

<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4"></div>
<div class="col-xs-12 col-sm-6 col-md-3 col-lg-4">
<a href="#">
  <p class="h5 text-center">
      <a href="#">Terms of Use</a>
  </p>
</a>
<a href="#">
  <p class="h5 text-center">
      <a href="#">Terms of Service</a>
  </p>
</a>
</div>
</div>

<!-- ================================
FOOTER END
====================================== -->

<!-- ================================
SCRIPT TAGS AND FUNCTIONS
====================================== -->

<!-- googleapis -->

</section>
