<section>
    <form name="connectForm" class="container-fluid">

        <div class="col-xs-offset-4 col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                  <i class="fa fa-user"></i>
              </span>
                <input name="identifiant" type="text" class="form-control" placeholder="Identifiant" id="id_AC" ng-model="$ctrl.user.email" />
            </div>
        </div>

        <div class="row ">
            <div class="col-xs-offset-4 col-xs-4">
                <div class="form-group input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-lock"></i>
                  </span>
                    <input name="password" type="password" class="form-control" placeholder="Mot de passe" id="pw_AC" ng-model="$ctrl.user.password" />
                </div>
            </div>
        </div>

        <div class="row ">
            <button type="submit" class="col-xs-offset-4 col-xs-4 btn-default btn1" ng-click="$ctrl.connect()">
              Envoyer
          </button>
        </div>

    </form>
</section>
