<section>

    <a id="title_page"><div class="headers headers_events">
        <div class="container text-center">
            <h1 class="intro-title" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head1"> {{$ctrl.page.content.head1}}</h1>
        </div>
        <div class="container text-center">
            <img class="img-responsive redline" src="/img/icons/line.png">
            <p class="intro-subtitle" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para1">{{$ctrl.page.content.para1}}</p>
        </div>
        <div class="icon-scroll container text-center">
    <a ng-click="$ctrl.gotofirstPart()"><img class="icon_scroll" src="/img/icons/icon_scroll.png" /></a>
        </div>
    </div>
    <adminnav edit-mode="$ctrl.editMode" ng-model="$ctrl.page"/>

    <a id="firstPart"></a></a><div class="container normal_bloc text-justify">
        <h1 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head2"> {{$ctrl.page.content.head2}}</h1>
        <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para2"> {{$ctrl.page.content.para2}}</p>
    </div>

    <div class="container container_ac" ng-repeat="event in $ctrl.events">
        <div class="row">
            <img class="col-xs-12 col-md-4 img_ac" src="img/pictures/visu-event1.png" alt="Illustration de l'inauguration de l'Atelier Canteloup" />
            <div class="col-xs-12 col-md-8">
                <h2 class="h2_ac">{{event.eventTitle}}</h2>
                <h3 class="h3_ac">{{event.eventSubtitle}}</h3>
                <p class="p_ac p_ac_events">{{event.eventDescription}} </p>
            </div>
            <a ui-sref="app.contact" class="col-xs-offset-3 col-xs-7 col-sm-offset-5 col-sm-2 btn-default btn_ac"> Nous contacter </a>
        </div>
        <!-- <div>
                <a class="twitter-timeline" data-width="500" data-height="750" data-link-color="#fc4a43" href="https://twitter.com/GTony_">Tweets by GTony_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <a href="https://twitter.com/GTony_" class="twitter-follow-button" data-show-screen-name="false" data-lang="fr" data-dnt="true" data-show-count="false">Follow @GTony_</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div> -->
    </div>

    <div class="icon-scroll container text-right">
        <a ng-click="$ctrl.gototitle()"><img class="icon_scroll icon_scroll_top" src="/img/icons/icon_scroll_top.png" /></a>
    </div>

</section>
