<section>

    <div class="headers headers_events">
        <div class="container text-center">
            <h1 class="intro-title"> Nos derniers <span>événements</span> </h1>
        </div>
        <div class="container text-center">
            <img class="img-responsive redline" src="/img/icons/line.png">
            <p class="intro-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="icon-scroll container text-center">
            <a ng-click="$ctrl.gotofirstPart()"><img class="icon_scroll" src="/img/icons/icon_scroll.png" /></a>
        </div>
    </div>
    <adminnav/>

    <a id="firstPart"></a><div class="container container_ac">
        <div class="row row_ac">
            <img class="col-xs-12 col-md-4 img_ac" src="img/pictures/visu-event1.png" alt="office2"></img>
            <div class="col-xs-12 col-md-8">
                <h2 class="h2_ac">Inauguration de l'atelier Canteloup</h2>
                <h3 class="h3_ac">Sous-titre de l'évenement</h3>
                <p class="p_ac">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde
                    omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                    sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
                    modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                  </p>
            </div>
            <a ui-sref="app.contact" class="col-xs-offset-3 col-xs-7 col-sm-offset-5 col-sm-2 btn-default btn_ac"> Nous contacter </a>
        </div>
        <!-- <div>
                <a class="twitter-timeline" data-width="500" data-height="750" data-link-color="#fc4a43" href="https://twitter.com/GTony_">Tweets by GTony_</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                <a href="https://twitter.com/GTony_" class="twitter-follow-button" data-show-screen-name="false" data-lang="fr" data-dnt="true" data-show-count="false">Follow @GTony_</a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div> -->
    </div>
</section>
