<div class="modal fade kitchen1" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                L'espace détente
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/kitchen.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                      Le café et le thé sont disponibles à volonté.
                    </p>
                    <p class="surface"></p>
                    <p class="nbdescmax"></p>
                    <p class="infopiece">
                      Materiel à disposition : <br/>
                      - Cafetière <br/>
                      - Bouilloire <br/>
                      - Micro-onde <br/>
                      - Frigidaire
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade office1" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Bureau ouvert
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/office1.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation actuelle : APPERTURE, 3prime et POPCORN FX
                    </p>
                    <p class="surface">60m²</p>
                    <p class="nbdescmax">14 bureaux au max</p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade office2" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Bureau
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/office2.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation actuelle :
                    </p>
                    <p class="surface">40m²</p>
                    <p class="nbdescmax">8 bureaux au max</p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet</br> porte fermant à clé
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade office3" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Bureau
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/office3.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation actuelle :
                    </p>
                    <p class="surface">30m²</p>
                    <p class="nbdescmax">6 bureaux au max</p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet</br> porte fermant à clé
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade office4" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Bureau
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/office4.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation actuelle :
                    </p>
                    <p class="surface">30m²</p>
                    <p class="nbdescmax">6 bureaux au max</p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet</br> porte fermant à clé
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade office5" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Bureau
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/office5.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation actuelle : Wild Code School
                    </p>
                    <p class="surface">90m²</p>
                    <p class="nbdescmax">20 bureaux au max</p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet</br> porte fermant à clé
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade office6" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Bureau
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/office6.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation actuelle : Wild Code School
                    </p>
                    <p class="surface">12m²</p>
                    <p class="nbdescmax">2 bureaux au max</p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet</br> porte fermant à clé
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade openspace" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Open space
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/openspace.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation actuelle : Wild Code School
                    </p>
                    <p class="surface">120m²</p>
                    <p class="nbdescmax">30 bureaux au max</p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade meetingroom1" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Metting Room
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/meetingroom1.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation ponctuelle
                    </p>
                    <p class="surface">20m²</p>
                    <p class="nbdescmax"></p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>

<div class="modal fade meetingroom2" tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-lg" role="document">-->
        <!-- <div class="modal-content"> -->
            <div class="thumbnail text-center row">
              <h2 class="col-xs-11 name">
                Metting Room
              </h2>
              <button type="button" class="col-xs-1 btn btn-default" data-dismiss="modal">X</button>
                <img src="../img/pictures/meetingroom2.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p class="moreinfo">
                     Occupation ponctuelle
                    </p>
                    <p class="surface">12m²</p>
                    <p class="nbdescmax"></p>
                    <p class="infopiece">
                      Accès wifi et prise ethernet </br>
                      2 écrans utilisables en chrome cast
                    </p>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>
