<div class="row">
    <div class="col-xs-offset-1 col-xs-9 office large">
      <img src="../img/pointeur.png" class="local center-block img-responsive" data-toggle="modal" data-target=".office1" alt="Responsive image">
    </div>
    <div class="col-xs-2 meeting-room large">
      <img src="../img/pointeur.png" class="local center-block img-responsive" data-toggle="modal" data-target=".meetingroom1" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-xs-2 elevator mini">
      <img src="../img/elevator.png" class="picto center-block img-responsive">
    </div>
    <div class="col-xs-7 open-space mini">
    </div>
    <div class="col-xs-2 office mini">
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-xs-3 office mini">
    </div>
    <div class="col-xs-6 open-space mini">
    </div>
    <div class="col-xs-2 office mini">
      <img src="../img/pointeur.png" class="local2 center-block img-responsive" data-toggle="modal" data-target=".office3" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-xs-3 office medium">
      <img src="../img/pointeur.png" class="local center-block img-responsive" data-toggle="modal" data-target=".office2" alt="Responsive image">
    </div>
    <div class="col-xs-6 open-space medium">
      <img src="../img/pointeur.png" class="local center-block img-responsive" data-toggle="modal" data-target=".openspace" alt="Responsive image">
    </div>
    <div class="col-xs-2 office medium">
      <img src="../img/pointeur.png" class="local center-block img-responsive" data-toggle="modal" data-target=".office4" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-xs-4 office mini">
      <img src="../img/pointeur.png" class="local center-block img-responsive" data-toggle="modal" data-target=".office5" alt="Responsive image">
    </div>
    <div class="col-xs-1 hall mini">
    </div>
    <div class="col-xs-2 office mini">
      <img src="../img/pointeur.png" class="local3 img-responsive"data-toggle="modal" data-target=".office6" alt="Responsive image">
    </div>
    <div class="col-xs-2 meeting-room mini">
      <img src="../img/pointeur.png" class="local3 img-responsive" data-toggle="modal" data-target=".meetingroom2" alt="Responsive image">
    </div>
    <div class="col-xs-1 hall mini">
    </div>
    <div class="col-xs-2 kitchen mini">
      <img src="../img/repas.png" id="cuisine" class="picto center-block img-responsive" data-toggle="modal" data-target=".kitchen1" alt="Responsive image">
    </div>
</div>

<modal/>

<div class="row">
    <div class="col-xs-2 office mini">
    </div>
    <div class="col-xs-3 ext mini">
    </div>
    <div class="col-xs-4 wc mini">
      <img src="../img/wc.png" class="picto center-block img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-3 babyfoot mini">
    </div>
</div>

<div class="row">
    <div class="col-xs-2 office mini">
    </div>
</div>

<div class="row">
    <div class="col-xs-2 office mini">
    </div>
    <div class="col-xs-4 ext mini">
    </div>
</div>
