<div class="container-fluid price">
  <div class="row">
    <h2 class="col-xs-12 pricingName">Courte description</br> de l'espace à louer</h2>
  </div>
  <div class="row">
    <h3 class="col-xs-12 pricingPrice"><span class="uppercase">129€/mois</span></h3>
  </div>
  <div class="row formule-content"
    <p class="col-xs-12 pricingInfo pricingInfo1">Lorem ipsum dolor sit amet</p>
    <p class="col-xs-12 pricingInfo pricingInfo2">Ut enim ad minim veniam </br> Dolor in reprehenderit in voluptate</p>
    <p class="col-xs-12 pricingInfo pricingInfo3">Velit esse cillum dolore eu fugiat nulla </br> Excepteur sint occaecat cupidatat</br> Culpa qui officia deserunt mollit</p>
    <p class="col-xs-12 pricingInfo pricingInfo4">Totam rem aperiam, eaque ipsa quae</p>
  </div>
  <div>
    <div class="col-xs-offset-3 col-xs-6 line"> </div>
    <a ui-sref="app.contact" class="col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-8 btn-default"> En savoir + </a>
  </div>
</div>
