    <!-- <div class="thumbnail text-center title ">
        <div class="caption">
            <h3 class="nom">Formule</h3>
        </div>
    </div>
    <div class="thumbnail text-center formule">
        <div class="caption">
            <p class="tarif"> xxx€/mois </p>
            <p class="locaux"> Emplacement attribué </p>
            <p class="internet"> Accès internet illimité </p>
            <p class="detente"> Accès espace cuisine et détente </p>
            <p class="acces"> Accès jours ouvrés de 9h-19h </p>
            <p class="reunion"> Tarif préférentiel sur réservation de salles de réunion</p>
        </div>
    </div> -->

    <div class="grid">
      <h2 class="info">Nom formule</h2>
      <h3 class="info"><span class="uppercase">Prix</span></h3>
      <pclass="info">Durée de location</p>
      <ul class="info">
        <li class="info">Email Support</li>
        <li class="info">Phone Support</li>
        <li class="info">Dedicated Environment</li>
        <li class="info">Customized Plan</li>
      </ul>
      <a ui-sref="app.contact" class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 btn-default"> Sign Up </a>
    </div>
