    <!-- <div class="thumbnail text-center title ">
        <div class="caption">
            <h3 class="nom">Formule</h3>
        </div>
    </div>
    <div class="thumbnail text-center formule">
        <div class="caption">
            <p class="tarif"> xxx€/mois </p>
            <p class="locaux"> Emplacement attribué </p>
            <p class="internet"> Accès internet illimité </p>
            <p class="detente"> Accès espace cuisine et détente </p>
            <p class="acces"> Accès jours ouvrés de 9h-19h </p>
            <p class="reunion"> Tarif préférentiel sur réservation de salles de réunion</p>
        </div>
    </div> -->

    <div class="grid">
      <h2 class="info" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.price.head1">Nom formule{{$ctrl.ngModel.price.head1}}</h2>
      <h3 class="info"><span class="uppercase" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.price.span1">Prix{{$ctrl.ngModel.price.span1}}</span></h3>
      <p class="info" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.price.para1">Durée de location</p>
      <ul class="info">
        <li class="info" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.price.li1">Email Support{{$ctrl.ngModel.price.li1}}</li>
        <li class="info" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.price.li2">Phone Support{{$ctrl.ngModel.price.li2}}</li>
        <li class="info" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.price.li3">Dedicated Environment{{$ctrl.ngModel.price.li3}}</li>
        <li class="info" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.ngModel.price.li4">Customized Plan{{$ctrl.ngModel.price.li4}}</li>
      </ul>
      <a ui-sref="app.contact" class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 btn-default"> Sign Up </a>
    </div>
