<section>

    <a id="title_page"><div class="headers headers_tarifs">
        <div class="container text-center">
            <h1 class="intro-title" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head1"> {{$ctrl.page.content.head1}}</h1>
        </div>
        <div class="container text-center">
            <img class="img-responsive redline" src="/img/icons/line.png">
            <p class="intro-subtitle"  inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para1"> {{$ctrl.page.content.para1}}</p>
        </div>
        <div class="icon-scroll container text-center">
            <a ng-click="$ctrl.gotofirstPart()"><img class="icon_scroll" src="/img/icons/icon_scroll.png" /></a>
        </div>
    </div>
    <adminnav edit-mode="$ctrl.editMode" ng-model="$ctrl.page"/>

    <a id="firstPart"></a>
    <div class="container normal_bloc text-justify">
      <h1 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head2"> {{$ctrl.page.content.head2}}</h1>
      <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para2"> {{$ctrl.page.content.para2}}</p>
    </div>

    <div class="container-fluid medium2_bloc pricingTable">
      <div class="row">
          <price edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.price1" class="col-xs-12 col-sm-6 col-md-3 priceForm"/>
          <!-- <price edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.price2" class="col-xs-12 col-sm-6 col-md-3 priceForm"/>
          <price edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.price3" class="col-xs-12 col-sm-6 col-md-3 priceForm"/>
          <price edit-mode="$ctrl.editMode" ng-model="$ctrl.page.content.price4" class="col-xs-12 col-sm-6 col-md-3 priceForm"/> -->
      </div>
    </div>

    <div class="container normal_bloc">
      <h1 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head3">{{$ctrl.page.content.head3}}</h1>
      <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para3">{{$ctrl.page.content.para3}}</p>
      <a ui-sref="app.contact" class="col-xs-offset-3 col-xs-6 col-sm-offset-4 col-sm-4 btn-default"> Nous contacter </a>
    </div>

    <div class="container container_ac container_ac_price" ng-repeat="tarif in $ctrl.tarifs">
        <div class="row row_ac">
            <img class="col-xs-12 col-md-4 img_ac " src="img/visu/visu-event1.png"/>
            <div class="col-xs-12 col-md-8">
              <h2 class="h2_ac"> {{tarif.officeTitle}} </h2>
              <h3 class="h3_ac"> {{tarif.officeSubtitle}} </h3>
              <p class="p_ac"> {{tarif.officeDescription}} </p>
              <h2 class="h2_ac h2_ac_price"> {{tarif.officePrice}}</h2>
          </div>
            <a ui-sref="app.contact" class="col-xs-offset-3 col-xs-7 col-sm-offset-5 col-sm-2 btn-default btn_ac"> Nous contacter </a>
        </div>
    </div>

    <div class="icon-scroll container text-right">
        <a ng-click="$ctrl.gototitle()"><img class="icon_scroll icon_scroll_top" src="/img/icons/icon_scroll_top.png" /></a>
    </div>

</section>
