<section>
    <div class="row">
        <button class="btn-default" ng-click="$ctrl.back()">Retour</button>
        <button class="btn-default pull-right" ng-click="$ctrl.add()"><i class="fa fa-plus"></i> {{'COMMON_ADD' | translate}}</button>
    </div>
    <br />
    <div class="row">
        <table class="table col-md-12">
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Email</th>
                <th colspan="2">Admin</th>
            </tr>
            <tr ng-repeat="user in $ctrl.users">
                <td>{{$index}}</td>
                <td>{{user.firstname + ' ' + user.lastname }}</td>
                <td>{{user.email}}</td>
                <td><i class="fa fa-check" ng-style="{'color':(user.isAdmin ? 'green' : 'gray')}"></i></td>
                <td class="text-right">
                  <button class="btn btn-error" type="button" name="button" ng-click="$ctrl.delete($index, user)"><i class="fa fa-trash"></i></button>
                  <button class="btn btn-warning" type="button" name="button" ng-click="$ctrl.edit(user)"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        </table>
    </div>

    <div class="row" ng-if="$ctrl.selectedUser">
        <h4 class="header">{{'COMMON_EDIT' | translate}}</h4>
        <form id="formUser" name="formUser" class="form">
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control" id="inputFirstname" placeholder="{{'COMMON_FIRSTNAME' | translate}}" ng-model="$ctrl.selectedUser.firstname">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control" id="inputLastname" placeholder="{{'COMMON_LASTNAME' | translate}}" ng-model="$ctrl.selectedUser.lastname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span>
                        <input type="text" class="form-control" id="inputEmail" placeholder="{{'COMMON_EMAIL' | translate}}" ng-model="$ctrl.selectedUser.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-asterisk"></i>
                        </span>
                        <input type="password" class="form-control" id="inputPass" name="inputPass" placeholder="{{'COMMON_PASSWORD' | translate}}" ng-model="$ctrl.selectedUser.password" ng-required="!$ctrl.selectedUser._id">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <input id="boxAdmin" class="checkbox" type="checkbox" ng-model="$ctrl.selectedUser.isAdmin" />
                        <label for="boxAdmin" class="css-label">{{'COMMON_ADMIN' | translate}}</label>
                    </div>
                </div>
                <div class="col-md-6 form-group frm-buttons">
                    <button type="submit" class="btn-default btn1 pull-right" ng-click="$ctrl.save()" ng-disabled="formUser.$pristine || formUser.$invalid"><i class="fa fa-save"></i> {{'COMMON_SAVE' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</section>
