<section>

    <a id="title_page"><div class="headers headers_history">
        <div class="container text-center">
            <h1 class="intro-title" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head1"> {{$ctrl.page.content.head1}}</h1>
        </div>
        <div class="container text-center">
            <img class="img-responsive redline" src="/img/icons/line.png">
            <p class="intro-subtitle" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para1">{{$ctrl.page.content.para1}}</p>
        </div>
        <div class="icon-scroll container text-center">
            <a ng-click="$ctrl.gotofirstPart()"><img class="icon_scroll" src="/img/icons/icon_scroll.png" /></a>
        </div>
    </div>
    <adminnav edit-mode="$ctrl.editMode" ng-model="$ctrl.page"/>

    <a id="firstPart"></a><div class="container normal_bloc">
        <div>
            <h1 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head2"> {{$ctrl.page.content.head2}} </h1>
            <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para2"> {{$ctrl.page.content.para2}}</p>
        </div>
        <div class="row">
            <img class="col-xs-6 window" ng-src="{{$ctrl.page.content.uploadImage1}}" />
            <img class="col-xs-6 window" ng-src="{{$ctrl.page.content.uploadImage2}}" />
        </div>
        <div class="row" ng-if="$ctrl.editMode">
          <div class="col-xs-6 window">
            <div class="row">
              <file name="image" class="col-xs-10 form-control" ng-model="$ctrl.uploadImage1" accept="image/png,image/jpg,image/jpeg" style="width: inherit;"/>
              <button class="btn-default col-xs-2 pull-right" ng-click="$ctrl.upload($ctrl.uploadImage1, 'uploadImage1')" style="padding:5px"><i class="fa fa-send"></i></button>
            </div>
          </div>
          <div class="col-xs-6 window">
            <div class="row">
              <file name="image" class="col-xs-10 form-control" ng-model="$ctrl.uploadImage2" accept="image/png,image/jpg,image/jpeg" style="width: inherit;"/>
              <button class="btn-default col-xs-2 pull-right" ng-click="$ctrl.upload($ctrl.uploadImage2, 'uploadImage2')" style="padding:5px"><i class="fa fa-send"></i></button>
            </div>
          </div>
        </div>

        <div class="row">
            <img class="col-xs-6 window" ng-src="{{$ctrl.page.content.uploadImage3}}" />
            <img class="col-xs-6 window" ng-src="{{$ctrl.page.content.uploadImage4}}"  />
        </div>

        <div class="row" ng-if="$ctrl.editMode">
          <div class="col-xs-6 window">
            <div class="row">
              <file name="image" class="col-xs-10 form-control" ng-model="$ctrl.uploadImage3" accept="image/png,image/jpg,image/jpeg" style="width: inherit;"/>
              <button class="btn-default col-xs-2 pull-right" ng-click="$ctrl.upload($ctrl.uploadImage3, 'uploadImage3')" style="padding:5px"><i class="fa fa-send"></i></button>
            </div>
          </div>
          <div class="col-xs-6 window">
            <div class="row">
              <file name="image" class="col-xs-10 form-control" ng-model="$ctrl.uploadImage4" accept="image/png,image/jpg,image/jpeg" style="width: inherit;"/>
              <button class="btn-default col-xs-2 pull-right" ng-click="$ctrl.upload($ctrl.uploadImage4, 'uploadImage4')" style="padding:5px"><i class="fa fa-send"></i></button>
            </div>
          </div>
        </div>

        <div>
            <h1 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head3"> {{$ctrl.page.content.head2}}</h1>
            <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para3"> {{$ctrl.page.content.para2}}</p>
        </div>
    </div>

    <div class="icon-scroll container text-right">
        <a ng-click="$ctrl.gototitle()"><img class="icon_scroll icon_scroll_top" src="/img/icons/icon_scroll_top.png" /></a>
    </div>

</section>
