<section>
    <div class="row">
        <button class="btn-default" ng-click="$ctrl.back()">Retour</button>
        <button class="btn-default pull-right" ng-click="$ctrl.add()"><i class="fa fa-plus"></i> {{'COMMON_ADD' | translate}}</button>
    </div>
    <br />
    <div class="row">
        <table class="table col-md-12">
            <tr>
                <th>#</th>
                <th colspan="2">Compagny</th>
            </tr>
            <tr ng-repeat="coworker in $ctrl.coworkers">
                <td>{{$index}}</td>
                <td>{{coworker.company}}</td>
                <td class="text-right">
                    <button class="btn btn-error" type="button" name="button" ng-click="$ctrl.delete($index, coworker)"><i class="fa fa-trash"></i></button>
                    <button class="btn btn-warning" type="button" name="button" ng-click="$ctrl.edit(coworker)"><i class="fa fa-pencil"></i></button>
                </td>
            </tr>
        </table>
    </div>

    <div class="row" ng-if="$ctrl.selectedCoworker">
        <h4 class="header">{{'COMMON_EDIT' | translate}}</h4>
        <form id="formCoworker" name="formCoworker" class="form">
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-building"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Company name" ng-model="$ctrl.selectedCoworker.company">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-bullhorn"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Slogan" ng-model="$ctrl.selectedCoworker.slogan">
                    </div>
                </div>
            </div>
            <div class="row">
              <text-angular class="col-md-12 form-group message" ng-model="$ctrl.selectedCoworker.resume" ng-required="true"></text-angular>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-link"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Website" ng-model="$ctrl.selectedCoworker.website">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-file-image-o"></i>
                        </span>
                        <file name="image" class="form-control" ng-model="$ctrl.uploadImage" accept="image/png,image/jpg,image/jpeg" />
                        <!-- <input type="file" class="form-control" placeholder="Logo" file-read="$ctrl.uploadImage"> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-6 col-md-6 form-group frm-buttons">
                    <button type="submit" class="col-sm-6 pull-right btn-default btn1" ng-click="$ctrl.save()" ng-disabled="formCoworker.$pristine || formCoworker.$invalid"><i class="fa fa-save"></i> {{'COMMON_SAVE' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</section>
