<div class="nav-admin-edit">
    <a ng-click="$ctrl.editMode = !$ctrl.editMode" ng-if="!$ctrl.editMode">
      <i href="#" class="fa fa-pencil"></i>
    </a>
    <a ng-click="$ctrl.disconnect = !$ctrl.connect" ng-if="!$ctrl.editMode">
      <i class="fa fa-sign-out"></i>
    </a>
    <div class="nav nav-pills" ng-if="$ctrl.editMode">
      <a ng-click="$ctrl.save()">
          <i class="fa fa-check"></i>
      </a>
      <a ng-click="$ctrl.cancel()">
          <i class="fa fa-remove"></i>
      </a>
    </div>
</div>
