<!--

<div id="carousel" class="row">
    <div class="col-md-1">

        <a ng-click="$ctrl.rotate('n')"><i class="fa fa-chevron-left tglyph"></i></a>

    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="carousel">
                <div class="item a"></div>
                <div class="item b"></div>
                <div class="item c"></div>
                <div class="item d"></div>
                <div class="item e"></div>
                <div class="item f"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <a ng-click="$ctrl.rotate('p')"><i class="fa fa-chevron-right tglyph"></i></a>
    </div>
</div> -->
