<div id="carousel" class="row">
    <div class="col-md-1">
        <a ng-click="$ctrl.rotate('n')"><i class="fa fa-chevron-left"></i></a>
    </div>
    <div class="col-md-10">
        <div class="container">
            <div class="carousel">
                <div class="item a">A</div>
                <div class="item b">B</div>
                <div class="item c">C</div>
                <div class="item d">D</div>
                <div class="item e">E</div>
                <div class="item f">F</div>
            </div>
        </div>
    </div>
    <div class="col-md-1">
        <a ng-click="$ctrl.rotate('p')"><i class="fa fa-chevron-right"></i></a>
    </div>
</div>
