<form name="contactForm" class="conatiner-fluid" ng-submit="" novalidate>

    <div class="row row1">
        <div class="col-xs-offset-2 col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user-plus"></i>
                </span>
                <input type="text" class="form-control" placeholder="Name" id="usr" ng-model="contact.name"  ng-required="true"/>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-building-o"></i>
                </span>
                <input type="text" class="form-control" placeholder="Enterprise" id="enterprise"  ng-model="contact.company"/>
            </div>
        </div>
    </div>

    <div class="row row 2">
        <div class="col-xs-offset-2 col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-at"></i>
                </span>
                <input type="email" class="form-control" placeholder="E-mail" id="email" ng-model="contact.email"  ng-required="true"/>
            </div>
        </div>

        <div class=" col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                </span>
                <input type="text" class="form-control" placeholder="Suject" id="" ng-model="subject.email"  ng-required="true"/>
            </div>
        </div>
      </div>


        <div class="col-xs-offset-2 col-xs-8 textarea input-group">
          <textarea class="form-control message" rows="6" placeholder="Leave a Message"  ng-required="true"></textarea>
        </div>



</form>

<button type="submit" value="Send" class="btn btn-default btn-md center-block btn1" ng-disabled="contactForm.$invalid">ENVOYER</button>
