<form name="contactForm" class="conatiner-fluid" ng-submit="$ctrl.saveUser()" novalidate>

    <div class="row row1">
        <div class="col-xs-offset-2 col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user-plus"></i>
                </span>
                <input type="text" class="form-control" placeholder="Name" id="usr" ng-model="$ctrl.contactInfo.name" ng-required="true" ng-minlength="2" ng-maxlength="15"/>


              <!--  <span class="error-message" ng-show="contactInfo.fName.$dirty
        && userForm.fName.$error.required">Must Enter a First Name
                </span>
                <span class="error-message" ng-show="contactInfo.fName.$dirty
          && userForm.fName.$error.minlength">Must be a Minimum of 2 Characters
                </span>
-->

            </div>
        </div>

        <div class="col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-building-o"></i>
                </span>
                <input type="text" class="form-control" placeholder="Enterprise" id="enterprise" ng-model="$ctrl.contactInfo.company" ng-minlength="2" ng-maxlength="20"/>
            </div>
        </div>
    </div>

    <div class="row row 2">
        <div class="col-xs-offset-2 col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-at"></i>
                </span>
                <input type="email" class="form-control" placeholder="E-mail" id="email" ng-model="$ctrl.contactInfo.email" ng-required="true" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"/>
              <!--  <span class="error-message" ng-show="contactInfo.email.$dirty
        && contactInfo.email.$error.required">Must Enter An Email
                </span>-->
            </div>
        </div>

        <div class=" col-xs-4">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                </span>
                <input type="text" class="form-control" placeholder="Suject" id="" ng-model="$ctrl.contactInfo.subject" ng-required="true"/>
              <!--  <span class="error-message" ng-show="contactInfo.subject.$dirty
        && contactInfo.subject.$error.required">Must choose a Subject
                </span>-->
            </div>
        </div>
    </div>

    <div class="col-xs-offset-2 col-xs-8 textarea input-group">
        <textarea class="form-control message" rows="6" placeholder="Leave a Message" ng-model="$ctrl.contactInfo.message" ng-required="true"></textarea>
    </div>

    <button type="submit" class="col-xs-offset-4 col-xs-4 btn-default btn1" ng-disabled="contactForm.$invalid">
        Envoyer
    </button>

</form>
