<form name="contactForm" ng-submit="$ctrl.sendEmail()" novalidate>

    <div class="row">
        <div class="col-md-6 no-padding-left">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user-plus"></i>
                </span>
                <input name="name" type="text" class="form-control" placeholder="Nom" id="usr" ng-model="$ctrl.contactInfo.name" ng-required="true" ng-minlength="2" ng-maxlength="30" />
            </div>
            <div ng-if="contactForm.name.$error" style="color:red" role="alert">
                <div ng-if="contactForm.name.$error.minlength">Your field is too short</div>
                <div ng-if="contactForm.name.$error.maxlength">Your field is too long</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-building-o"></i>
                </span>
                <input type="text" class="form-control" placeholder="Entreprise" name="enterprise" ng-model="$ctrl.contactInfo.company" ng-minlength="2" ng-maxlength="50" />
            </div>
            <div ng-if="contactForm.enterprise.$error" style="color:red" role="alert">
                <div ng-if="contactForm.enterprise.$error.minlength">Your field is too short</div>
                <div ng-if="contactForm.enterprise.$error.maxlength">Your field is too long</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 no-padding-left">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-at"></i>
                </span>
                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="$ctrl.contactInfo.email" ng-required="true" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" />
            </div>
            <div ng-if="contactForm.email.$error" style="color:red" role="alert">
                <div ng-if="contactForm.email.$error.pattern">Bad format</div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group input-group">
                <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                </span>
                <input type="text" class="form-control" placeholder="Sujet" id="" ng-model="$ctrl.contactInfo.subject" ng-required="true" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 no-padding-left">
            <textarea class="form-control message" rows="6" placeholder="Votre message" ng-model="$ctrl.contactInfo.message" ng-required="true"></textarea>
        </div>
    </div>
    <div class="row">
        <button type="submit" class="col-xs-offset-4 col-xs-4 btn-default btn1" ng-disabled="contactForm.$invalid">
        Envoyer
    </button>
    </div>

</form>
