<div class=" navbar-inline">
    <div class="frow row">

        <div class="col-md-offset-1 col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <ul class=" ">
                <li>
                    <h4>Plan de Site</h4></li>
                <li>Accueil</li>
                <li>Vision</li>
                <li>Creation</li>
                <li>Production</li>
                <li>Contact</li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <ul class="">
                <li>
                    <h4>Accés</h4></li>
                <li>Atelier Canteloup</li>
                <li>Raison Sociale</li>
                <li>Adresse</li>
                <li>Code Postal</li>
            </ul>
        </div>



        <div class="col-md-2 col-xs-12 col-sm-12"><img src="/img/icons/logo-bottom.png" class="footer-logo center-block" /></div>

        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <ul class="">
                <li>
                    <h4>Liens Utiles</h4></li>
                <li>Contact@</li>
                <li>06000000</li>
                <li>Creation</li>
                <li>Production</li>
                <li>Contact</li>
            </ul>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <ul class=" ">
                <li>
                    <h4>Nous Contacter</h4></li>
                <li>Raison Sociale</li>
                <li>Adresse</li>
                <li>Code Postal</li>
                <li>Contact</li>
                <li class="navbar-inline">
                    <span><img src="/img/icons/fb.png" alt="" class="footer-icon" /></span>
                    <span><img src="/img/icons/twitter.png" alt="" class="footer-icon"/></span>
                    <span><img src="/img/icons/linkedin.png" alt="" class="footer-icon"/></span>
                    <span><img src="/img/icons/google.png" alt="" class="footer-icon"/></span>
                </li>
            </ul>

        </div>
    </div>

</div>
</div>
<div class=" footer-strip">
</div>
