<div class="container-fluid">
<nav class=" navbar-inline">
    <div class="row">



      <div class="col-xs-12 col-md-offset-1 col-md-2">
          <ul>
            <li><h4>Plan de Site</h4></li>
            <li>Accueil</li>
            <li>Vision</li>
            <li>Creation</li>
            <li>Production</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-2">
          <ul>
            <li><h4>Acces</h4></li>
            <li>Ateiler Canteloup</li>
            <li>Vision</li>
            <li>Creation</li>
            <li>Production</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-2"><img src="../img/logos/footer-ac.png" class="footer-logo" /></div>

        <div class="col-xs-12 col-md-2">
          <ul>
            <li><h4>Liens Utiles</h4></li>
            <li>Ateiler Canteloup</li>
            <li>Vision</li>
            <li>Creation</li>
            <li>Production</li>
            <li>Contact</li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-2">
          <ul>
            <li><h4>Nous Contacter</h4></li>
            <li>Ateiler Canteloup</li>
            <li>Vision</li>
            <li>Creation</li>
            <li>Production</li>
            <li class="navbar-inline">
              <span><img src="../img/icons/facebook.png" alt="" class="footer-icon" /></span>
              <span><img src="../img/icons/twitter.png" alt="" class="footer-icon"/></span>
              <span><img src="../img/icons/linkdin.png" alt="" class="footer-icon"/></span>
              <span><img src="../img/icons/google.png" alt="" class="footer-icon"/></span>
            </li>
          </ul>
        </div>
      </div>


      <div class="container-fluid ">
    <div class="row ">
      <div class="col-xs-12 ">


      </div>
      </div>
  </div>



</nav>
</div>
