<div class=" navbar-inline">
    <div class="frow row">

        <div class="col-md-offset-1 col-md-2 col-lg-2">
            <ul class="col-xs-12 col-sm-12  ">
                <li>
                    <h4 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title1">Plan de Site {{$ctrl.page.content.title1}}</h4></li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li1">Accueil  {{$ctrl.page.content.li1}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li2">Vision  {{$ctrl.page.content.li2}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li3">Creation   {{$ctrl.page.content.li3}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li4">Production {{$ctrl.page.content.li4}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li5">Contact {{$ctrl.page.content.li5}}</li>
            </ul>
        </div>

        <div class="col-xs-12 col-md-2 col-lg-2 ">
            <ul class=" col-xs-12 col-sm-12 ">
                <li>
                    <h4 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title2">Accés {{$ctrl.page.content.title2}}</h4></li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li6">Atelier Canteloup  {{$ctrl.page.content.li6}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li7">Raison Sociale {{$ctrl.page.content.li7}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li8">Adresse {{$ctrl.page.content.li8}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li9">Code Postal {{$ctrl.page.content.li9}}</li>
            </ul>
        </div>



        <div class="col-md-2 col-xs-12 col-sm-12"><img src="/img/icons/logo-bottom.png" class="footer-logo center-block" /></div>

        <div class="col-xs-12 col-md-2 col-lg-2 ">
            <ul class="col-xs-12 col-sm-12">
                <li>
                    <h4 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title3">Liens Utiles {{$ctrl.page.content.title3}}</h4></li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li9">Contact@ {{$ctrl.page.content.li9}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li10">06000000 {{$ctrl.page.content.li10}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li11">Creation {{$ctrl.page.content.li11}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li12">Production {{$ctrl.page.content.li12}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li13">Contact {{$ctrl.page.content.li13}}</li>
            </ul>
        </div>



        <div class="col-xs-12 col-md-2 col-lg-2 ">
            <ul class="col-xs-12 col-sm-12 ">
                <li>
                    <h4 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.title4">Nous Contacter {{$ctrl.page.content.title4}}</h4></li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li14">Raison Sociale {{$ctrl.page.content.li14}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li15">Adresse {{$ctrl.page.content.li15}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li16">Code Postal {{$ctrl.page.content.li16}}</li>
                <li inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.li17">Contact {{$ctrl.page.content.li17}}</li>
                <li class="navbar-inline">
                    <span><img src="/img/icons/fb.png" alt="" class="footer-icon" /></span>
                    <span><img src="/img/icons/twitter.png" alt="" class="footer-icon"/></span>
                    <span><img src="/img/icons/linkedin.png" alt="" class="footer-icon"/></span>
                    <span><img src="/img/icons/google.png" alt="" class="footer-icon"/></span>
                </li>
            </ul>

        </div>
    </div>

</div>
</div>
<div class=" footer-strip">
</div>
