<div class="text-justify">
    <h1> Nos <strong> Co-workers </strong>  </h1>

    <div class="row">

        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/3primeNB.png" onmouseover="this.src='../img/logos/3prime.png'" onmouseout="this.src='../img/logos/3primeNB.png'"/>
        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/devisuboxNB.png" onmouseover="this.src='../img/logos/devisubox.png'" onmouseout="this.src='../img/logos/devisuboxNB.png'"/>
        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/appertureNB.png" onmouseover="this.src='../img/logos/apperture.png'" onmouseout="this.src='../img/logos/appertureNB.png'"/>
    </div>
    <div class="row">
        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/lourseNB.png" onmouseover="this.src='../img/logos/lourse.png'" onmouseout="this.src='../img/logos/lourseNB.png'"/>
        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/elsieNB.png" onmouseover="this.src='../img/logos/elsie.png'" onmouseout="this.src='../img/logos/elsieNB.png'"/>
        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/horizon_immobilier.png" onmouseover="this.src='../img/logos/horizon_immobilier.png'" onmouseout="this.src='../img/logos/horizon_immobilier.png'"/>
    </div>
    <div class="row">
        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/aec.png" onmouseover="this.src='../img/logos/aec.png'" onmouseout="this.src='../img/logos/aec.png'"/>
        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/popcornFXNB.png" onmouseover="this.src='../img/logos/popcornFX.png'" onmouseout="this.src='../img/logos/popcornFXNB.png'"/>
        <img class="col-xs-6 col-sm-6 col-md-4 col-lg-4" src="../img/logos/wcsNB.png" onmouseover="this.src='../img/logos/wcs.png'" onmouseout="this.src='../img/logos/wcsNB.png'"/>
    </div>

    <a ui-sref="app.coworkers" class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4 btn-default"> Consulter nos tarifs </a>



</div>
