
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-offset-1 col-lg-2">
            <img src="/img/logos/3prime.png" alt="" class="center-block" />
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-offset-2 col-lg-2">
            <img src="/img/logos/AEC.png" alt="" class="center-block" />
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-offset-2 col-lg-2">
            <img src="/img/logos/Apperture-couleurs.png" alt="" class="center-block" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-offset-1 col-lg-2">
            <img src="/img/logos/Devisubox-couleurs.png" alt="" class="center-block" />
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-offset-2 col-lg-2">
            <img src="/img/logos/Elsie.png" alt="" class="center-block" />
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-offset-2 col-lg-2">
            <img src="/img/logos/Horizons.png" alt="" class="center-block" />
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-offset-1 col-lg-2">
            <img src="/img/logos/Lourse.png" alt="" class="center-block" />
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-offset-2 col-lg-2">
            <img src="/img/logos/PopcornFX.png" alt="" class="center-block" />
        </div>
        <div class="col-xs-12 col-sm-4 col-lg-offset-2 col-lg-2">
            <img src="/img/logos/WCS.png" alt="" class="center-block" />
        </div>
    </div>
