
<div class="modal fade kitchen1" tabindex="-1" role="dialog" aria-labelledby="kitchen1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="thumbnail text-center">
                <h2> L'espace détente </h2>
                <img src="../img/cuisine.jpg" class="illustrationModal" alt="L'espace détente" class="responsive">
                <div class="caption">
                    <p>Le café (et le thé) est disponible à volonté.</p>
                    <p class="surface"></p>
                    <p class="infopiece"> Materiel à disposition : <br/>
                      - Cafetière <br/>
                      - Bouilloire <br/>
                      - Micro-onde <br/>
                      - Frigidaire </p>
                </div>
            </div>
        </div>
    </div>
</div>
