<div class="row">
    <div class="col-xs-offset-1 col-xs-8 office large bordure-bottom">
    <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
  </div>
    <div class="col-xs-2 meeting-room large">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-xs-1 elevator mini">
      <img src="../img/elevator.jpg" class="center-block img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-7 open-space mini">
    </div>
    <div class="col-xs-2 office mini">
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-xs-2 office mini">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-6 open-space mini">
    </div>
    <div class="col-xs-2 office mini bordure-top">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-xs-offset-1 col-xs-2 office large">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-6 open-space large">
    </div>
    <div class="col-xs-2 office large">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-xs-3 office medium">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-1 hall medium">
    </div>
    <div class="col-xs-2 office medium">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-2 meeting-room medium">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
    <div class="col-xs-1 hall medium">
    </div>
    <div class="col-xs-2 kitchen medium">
      <img src="../img/pointeur.png" class="local center-block img-responsive" alt="Responsive image">
    </div>
</div>

<div class="row">
    <div class="col-xs-2 office mini bordure-top">
    </div>
    <div class="col-xs-4 ext mini">
    </div>
    <div class="col-xs-2 wc mini">
    </div>
    <div class="col-xs-1 hall mini">
    </div>
    <div class="col-xs-2 babyfoot mini">
    </div>
</div>

<!--<script>

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          ...
        </div>
      </div>
    </div>
</script>-->
