    <div class="thumbnail text-center title ">
        <div class="caption">
            <h3>Formule</h3>
        </div>
    </div>
    <div class="thumbnail text-center formule">
        <div class="caption">
            <p class="tarif"> ---€/mois </p>
            <p class="locaux"> Emplacement attribué </p>
            <p class="internet"> Accès internet illimité </p>
            <p class="detente"> Accès espace cuisine et détente </p>
            <p class="acces"> Accès jours ouvrés de 9h-19h </p>
            <p class="reunion"> Tarif préférentiel sur réservation de salles de réunion</p>
        </div>
    </div>
