<section>
    <div ng-parallax pattern="'/img/pictures/visu-top-admin.png'" speed="10" reverse="false" class="headers">
        <div class="container text-center">
            <h1 class="intro-title">
                <span>Identifiez</span>-vous à l'atelier Canteloup</h1>
        </div>
        <div class="container text-center">
            <img class="img-responsive redline" src="/img/icons/line.png">
            <p class="intro-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
    </div>
    <div class="container normal_bloc">
        <ui-view></ui-view>
    </div>
</section>
