<section>
  <div class="headers">
      <div class="container text-center">
          <h1 class="intro-title"> Connexion </h1>
          <p class="subtitle text">à l'atelier Canteloup</p>
      </div>
  </div>
<adminnav/>
  <div class="container normal_bloc">

    <form name="connectForm" class="container-fluid" >

        <div class="row ">
            <div class="col-xs-offset-4 col-xs-4">
                <input name="identifiant" type="text" class="form-control" placeholder="Identifiant" id="id_AC"/>
            </div>
          </div>

          <div class="row ">
            <div class="col-xs-offset-4 col-xs-4">
                <input name="password" type="password" class="form-control" placeholder="Mot de passe" id="pw_AC" />
            </div>
        </div>

        <button type="submit" class="col-xs-offset-4 col-xs-4 btn-default btn1" > Envoyer </button>

    </form>

  </div>
</section>
