<div class="row">

  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/pictures/openspace1.jpg"  />
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/pictures/office1.jpg" />
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/pictures/office3.jpg" />

</div>

<div class="row">
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/pictures/kitchen.jpg" />
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/pictures/meetingroom2.jpg" />
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/pictures/office5.jpg" />
</div>

<div class="row">
  <img class="hidden-xs col-sm-6 hidden-md hidden-lg window" src="../img/pictures/openspace1.jpg"  />
  <img class="hidden-xs col-sm-6 hidden-md hidden-lg window" src="../img/pictures/office1.jpg" />
</div>

<div class="row">
  <img class="hidden-xs col-sm-6 hidden-md hidden-lg window" src="../img/pictures/office3.jpg" />
  <img class="hidden-xs col-sm-6 hidden-md hidden-lg window" src="../img/pictures/kitchen.jpg" />
</div>

<div class="row">
  <img class="hidden-xs col-sm-6 hidden-md hidden-lg window" src="../img/pictures/meetingroom2.jpg" />
  <img class="hidden-xs col-sm-6 hidden-md hidden-lg window" src="../img/pictures/office5.jpg" />
</div>
