<div class="row row_acanteloup">
    <div class="col-xs-12 col-md-4 img_ac">
        <div style="height: 518px;width: 100%;background: url({{$ctrl.ngModel.image}});background-size: cover;background-position: center;" class="col-xs-12 col-md-4 img_ac" alt="{{$ctrl.ngModel.title}}"></div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class="row">
            <div class="col-md-2">
                <h2 class="h2_ac h2_gray">{{$ctrl.ngModel.date | date: 'dd'}}</h2>
                <h3 class="h3_ac h3_primary">{{$ctrl.ngModel.date | date: 'MMM'}}.</h3>
            </div>
            <div class="col-md-10">
                <h2 class="h2_ac">{{$ctrl.ngModel.title}}</h2>
                <h3 class="h3_ac">{{$ctrl.ngModel.subtitle}}</h3>
            </div>
        </div>
        <div class="p_ac p_ac_events" ng-bind-html="$ctrl.ngModel.description"></div>
    </div>
    <a ui-sref="app.contact" class="col-xs-offset-3 col-xs-7 col-sm-offset-5 col-sm-2 btn-default btn_ac"> Nous contacter </a>
</div>
