<div class="row">

  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/photoNB.jpg" onmouseover="this.src='../img/photo.jpg'" onmouseout="this.src='../img/photoNB.jpg'" />
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/photoNB.jpg" onmouseover="this.src='../img/photo.jpg'" onmouseout="this.src='../img/photoNB.jpg'" />
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/photoNB.jpg" onmouseover="this.src='../img/photo.jpg'" onmouseout="this.src='../img/photoNB.jpg'" />

</div>

<div class="row">
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/photoNB.jpg" onmouseover="this.src='../img/photo.jpg'" onmouseout="this.src='../img/photoNB.jpg'" />
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/photoNB.jpg" onmouseover="this.src='../img/photo.jpg'" onmouseout="this.src='../img/photoNB.jpg'" />
  <img class="hidden-xs hidden-sm col-md-4 col-lg-4 window" src="../img/photoNB.jpg" onmouseover="this.src='../img/photo.jpg'" onmouseout="this.src='../img/photoNB.jpg'" />
</div>
