<div class="text-justify">

  <div class="row">
      <img class="col-xs-12 col-sm-6" src="../img/pictures/photo.jpg" alt="">
      <div class="col-xs-12 col-sm-6">
          <h2> Titre de l'événement </h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
              irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <a ui-sref="app.events" class="col-xs-offset-3 col-xs-6 col-sm-offset-6 col-sm-5 btn-default"> En savoir + </a>
      </div>
  </div>

</div>
