@import 'colors';

.nav-admin-edit{
  position: fixed;
  top: 0px;
  right: 40px;

  padding: 10px;
  z-index: 99999999;


  .fa{
   font-size: 2.5em;
   color : $primary ;
   margin-left : 10px;
   }

  // .nav-pills {
  //   margin-left : 10%;
  //
  // }
}

// #mininavbar {
//     position: fixed;
//     top: 60px;
//     right: 0;
//     color: white;
//     background-color: rgba(40, 96, 144, 0.41);
//     padding: 10px;
//     z-index: 99999999;
//
//     .fa {
//         color: white;
//         font-size: 45px;
//         width: 45px;
//         height: 45px;
//     }
// }
