@import 'colors';

.nav-admin-edit{
  position: fixed;
  top: 80px;
  right: 40px;

  padding: 10px;
  z-index: 99999999;


  .fa{
   font-size: 2.5em;
   color : $primary ;
   margin-left : 15px;
   }

  // .nav-pills {
  //   margin-left : 10%;
  //
  // }
}
