/* base colors */
$background: #000000;
$text-default: #727272;
$text-edit: #faebd7;
$white: #FFF;
$black: #000000;
$gray: #efefef;
$orange: #ffc107;
$orange-dark: #c59400;
$red: #EF5350;
$red-dark: #B71C1C;
$green: #4CAF50;
$green-dark: #1B5E20;
/* theme colors */
$primary: #44749D;
$primary-dark: #EBE7E0;
$secondary: $orange;
$secondary-dark: $orange-dark;
$transparent: rgba(255,255,255,0.3);
