@import 'colors';

.form-control{
background-color: #dddddd;
border-radius: 20px;
}

textarea.message {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 20px !important;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
    border: 2px solid red;
}

/* submit button */
button[disabled="disabled"]{
      opacity: .4;
      cursor: not-allowed !important;
    }

/* map */
#map { height: 500px;
      width: 100%;
 }


.contact_ac{
  .picto{
    // height : 40px;
    // width : auto;
    padding : 0;
    margin : 0;
  }

}
