@import 'colors';

/*  */

.co-workers{
  width: 100%;
  background-color: $black;

  margin: 0px;
  h1{
    margin-top: 90px;
  }
.work-logos1,
.work-logos2,
.work-logos3{
margin-top: 10rem;
.center-block {
  text-align: left;
 }
}
}
