footer {
  background-color: #242424;
  height: 15rem !important;
}

h4 {
 list-style-type: underline !important;
 text-align: left;
}

.footer-logo{
  max-height: 10rem;
  max-width: 10rem;
  margin-top: 3rem;
}

ul>li{
list-style-type: none;
text-align: left;
}

.footer-strip {
  padding: none !important;
}
