footer {
    background-color: #242424;
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    ul {
        li {
            text-align: center;
            list-style-type: none;
        }
    }
}

.footer-logo {
    max-height: 10rem;
    max-width: 10rem;
    margin-top: 3rem;
    margin-left: 5rem;
}

.footer-strip {
    padding: none !important;
    height: 4rem !important;
    background-color: #000 !important;
}

.footer-icon {
    width: 3rem;
    height: 3rem;
    margin-top: 2px;
}

/*.imgwrapper {
   width: 80%;
}
*/
