@import 'colors';


section {
  display: block;
  background-position: center;
  text-align: justify;
  margin-bottom: 60px;
}

// .fa , rename because already use it , it's a must have if glyficon already used
.tglyph {
  margin-top: 175px;
}
