@import 'colors';

/* Common */
.normal_bloc{
  max-width: 800px;
  margin-top : 5%;
}
.medium_bloc{
  max-width: 1000px;
}
.large_bloc{
  max-width : 100%;
  margin-top : 5%;
  margin-bottom : 5%;
}

strong {
  color : $primary;
}

h1{
  text-align: center;
  margin : 4% ;
}

img.window{
  margin-bottom : 5%;

}

.black{
  background-color: $black;
  width:100%;
}

/* intro */

.intro {
    background-image: url('../img/pictures/Visu-Home-TOP.png');
    background-position: bottom;
    background-size: cover;
    min-height: 900px;
    width : 100%;
    margin-bottom: 8%;
}
.logo-titre{
  margin : auto;
  margin-top: 10%;
}

// .intro-title {
//     font-size: 50px;
//     margin-top: 50px;
//     color:$black;
//     text-shadow: $white 1px 1px, $white -1px 1px, $white -1px -1px, $white 1px -1px;
// }

.intro-subtitle{
  font-family: Lato Light;
  color:$white;
  font-size: 1.2em;
  text-align: center;
  padding: 10% 20% 0 20%;
}

/* concepts */

// .concepts {
//     margin-top: 20px;
// }

/* bouttons */

.btn-default {
  font-family: Lato Black;
  text-align: center;
  text-transform: uppercase;
  padding : 10px;
  border-radius : 20px;
  margin-bottom: 60px;
  margin-top : 30px;
  background-color: $primary;
  color: $white;
  border: solid $transparent 2px;
}

.btn-default:hover {
  background-color: $transparent;
  color: $primary;
  border: solid $primary 2px;
}
