@import 'colors';
/* navbar */
.navbar {
    background-color: $transparent-gray;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-nav > li > a {
    color: $white !important;
    line-height: 20px;
    font-weight: bold;
    font-size : 1.3em;
    margin-left: 20px;
}

a.ng-binding:active{
  color : $primary;
}

/* Navbar Mouse color */

.navbar-nav > .open > a,
.navbar-nav > li > a:hover {
    color: #C0C0C0 !important;
}

.navbar-nav > .selected > a {
    color : $primary !important;
    border-bottom: 2px solid $primary;
}

.navbar-default .navbar-toggle .icon-bar,
button.navbar-default,
button.navbar-toggle:hover {
    background-color: $white !important;
}

button.navbar-default > .icon-bar,
button.navbar-toggle:hover > .icon-bar {
    background-color: $primary !important;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $white;
    }
}

.navbar-default .navbar-toggle {
    border-color: $white;
}
