@import 'colors';

/* height element*/

.large {
  height: 164px;
}

.medium {
  height : 135px;
}

.mini{
  height: 75px;
}

.local{
  height: 30px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.local2{
  height: 50px;
}

.picto {
  height: 80px;
  height: 30px;
}

.local3{
  height: 30px;
  margin-left: 0px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.picto {
  height: 40px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px){
  .large { height: 75px; }

  .medium { height : 50px; }

  .mini { height: 25px; }

  .local { height: 12px; }
  .local2 { height: 12px; }
  .picto { height: 20px; }
}
@media (min-width: 769px) and (max-width: 992px){

  .large { height: 100px; }

  .medium { height : 75px; }

  .mini { height: 50px; }

  .local { height: 25px; }
  .local2 { height: 25px; }
  .picto { height: 30px; }
}

/* au survol */
.local:hover, .local2:hover, .local3:hover{
  background-color: $primary;
  border-radius: 25px;
}

#cuisine:hover {
  background-color: $primary;
  border-radius: 25px;
}

/* Modal */

/*.btn{
  margin-left : 95%;
}*/
