@import 'colors';

/* Deuxième essai */

.grid {
  border: 2px solid $gray;
  min-height: 500px;
  padding: 1.25em;
  position: relative;
  text-align: center;
  transition: all .2s ease-in-out;

  .pricingName {
    font-size: 1.3em;
    font-weight: bold;
    color: $gray;
    margin-top: 12px;
    padding-bottom: 10px;
    line-height: 1.5em;
  }

  .pricingPrice {
    font-size: 2.1em;
    font-weight: bold;
    letter-spacing: 0.0625em;
    color: $primary;
    padding-bottom: 5px;
    margin-bottom : 30px;
  }

  .info {
    font-size: 1em;
    color : $black;
    text-align: center;
    list-style-type: none;
    //line-height: 1em;
  }

  .line {
    border-top : solid 1px $primary;
    margin-top : 28px;
  }

  .btn-default{
    margin-bottom : 30px;
  }
}

.grid:hover {
  background-color: $white;
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;
  //box-shadow: 0px 0px 10px 0px $primary;
  transform: scale(1.055);
  z-index: 2;

  &:before, &:after {
    content: "";
    position: absolute;
    background-color: $primary;
    top: -2px;
    bottom: -2px;
    width: 2px;
  }

  &:before {
    left: -2px;
  }
  &:after {
    right: -2px;
  }
}
