@import 'colors';

/* prices table */

.pricingTable{

  .pricingTable{
    color: $gray;
    font-family: 'Lato', sans-serif;
    font-size: 100%;
    min-height: 100%;
    line-height: 1.5;
    padding: 2.5em 0;
  }

.priceForm{
  padding : 0px;
}

}

/* screen*/

.medium2_bloc{
  max-width: 1200px;
}

@media (max-width: 600px){
  .container-fluid{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
  }
  .pull-left{
    display : none;
  }
}
