@import 'colors';

/* intro */

.intro {
    
    background-position: bottom;
    background-size: cover;
    min-height: 900px;
    margin-bottom: 10px;
}
.intro-title {
    font-size: 50px;
    margin-top: 50px;
    color:$black;
    text-shadow: $white 1px 1px, $white -1px 1px, $white -1px -1px, $white 1px -1px;
}
.subtitle{
  color:$secondary;
}
