@import 'colors';

/* intro */

.headers {
    background-image: url('../img/pictures/openspaceNB.jpg');
    background-position: bottom;
    background-size: cover;
    min-height: 500px;
    margin-bottom: 10px;
}
.intro-title {
    font-size: 4em;
    margin-top: 80px;
    color:$primary;
    //text-shadow: $white 1px 1px, $white -1px 1px, $white -1px -1px, $white 1px -1px;
    margin-bottom: 80px;
}
.subtitle {
  color:$white;
  font-size: 2em;
}

/* Common */

.normal_bloc{
  max-width: 800px;
  margin-top : 5%;
}
.medium_bloc{
  max-width: 1000px;
}
.large_bloc{
  max-width : 100%;
  margin-top : 5%;
  margin-bottom : 5%;
}

/* plan */

.space-plan {
  margin-top : 5px;
  margin-bottom : 5px;
  background-image: url(../img/plan/plan2.png);
  background-repeat: no-repeat;
  background-position: center;
  // height: 100%;
  // width: 100%
  }
/* prices table */
table {
  border-collapse: collapse;
  border : solid 2px;
  width : 100%;
  text-align: center;
  line-height: 3;

  th {
    text-align: center;
    border : solid 2px;
  }

  td {
    border : none;
    width : 25%;
    border-right : solid 2px;
  }
}
/* screen*/

@media (max-width: 600px){
  .container-fluid{
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
  }
  .pull-left{
    display : none;
  }
}
