<section>

    <div class="headers headers_coworkers">
        <div class="container text-center">
            <h1 class="intro-title"inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head1"> <span>Co-workers</span> de l'atelier Canteloup {{$ctrl.page.content.head1}}</h1>
        </div>
        <div class="container text-center">
            <img class="img-responsive redline" src="/img/icons/line.png">
            <p class="intro-subtitle" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para1">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.{{$ctrl.page.content.p1}}</p>
        </div>
        <div class="icon-scroll container text-center">
            <a ng-click="$ctrl.gotofirstPart()"><img class="icon_scroll" src="/img/icons/icon_scroll.png" /></a>
        </div>
    </div>
    <adminnav edit-mode="$ctrl.editMode" ng-model="$ctrl.page"/>

    <a id="firstPart"></a><div class="container normal_bloc text-justify">
      <h1 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head2"> <strong>Titre</strong> du paragraphe{{$ctrl.page.content.head2}} </h1>
      <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para2"> Lorem ipsum dolor sit amet {{$ctrl.page.content.p2}}</p>
    </div>

    <div class="container container_ac container_ac_coworkers">
    <div class="row row_ac">
        <img class="col-xs-12 col-md-4 img_ac " src="img/visu/visu-Apperture.png"/>
        <div class="col-xs-12 col-md-8">
            <h2 class="h2_ac">Apperture</h2>
            <h3 class="h3_ac">Innovation 3D interactive</h3>
            <p class="p_ac p_ac_coworkers">Apperture est spécialisée dans le développement de contenu 3D interactif en temps réel de haute qualité, notamment dans le domaine de la réalité virtuelle, réalité augmentée, applications desktop et mobiles.</br> Nous accompagnons les entreprises dans la conception et le déploiement de solutions 3D interactives pouvant impacter toutes les étapes de la vie d’un produit : design de prototype, simulation et visualisation de données 3D, formation des collaborateurs, mais également pour l’évènementiel et le support à la vente.</br> Si vous souhaitez offrir un autre regard sur vos projets, dépasser les limites visuelles de notre monde ou immerger vos partenaires et clients dans une nouvelle expérience émotionnelle marquante, nous avons sûrement une solution.
              </p>
        </div>
        <a href="http://www.apperture.fr/" class="col-xs-offset-3 col-xs-7 col-sm-offset-5 col-sm-2 btn-default btn_ac"> Voir le site web </a>
    </div>
    </div>


    <!-- <div ng-repeat="coworker in coworkers" class="container">
      <div class="row">
        <div class="col-offset-lg-2 col-lg-4">{{coworker.image}}</div>
        <div clas="col-lg-4">
            <h1>{{coworker.name}}</h1>
            <h2>{{coworker.slogan}}</h2>
            <p>{{coworker.resume}}</p>

        </div>



      </div>

    </div> -->

</section>
