<section>
    <div class="container co-workers">
        <div class="row">
            <div class="col-xs-12">
                <h1>Nos <strong>Co-workers</strong></h1>
              </div>
        </div>


        <div class="container work-logos1 center-block">
            <div class="row">
                    <div class="col-xs-offset-1 col-xs-2 ">
                      <img src="../img/logos/3prime.png" alt="" class="center-block"/>
                    </div>
                      <div class="col-xs-offset-2 col-xs-2">
                      <img src="../img/logos/AEC.png" alt="" class="center-block"/>
                      </div>
                      <div class="col-xs-offset-2 col-xs-2">
                      <img src="../img/logos/Apperture-couleurs.png" alt="" class="center-block"/>
                    </div>
                  </div>
            </div>


            <div class="container work-logos2 center-block">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-2 ">
                      <img src="../img/logos/Devisubox-couleurs.png" alt="" class="center-block"/>
                    </div>
                      <div class="col-xs-offset-2 col-xs-2">
                      <img src="../img/logos/Elsie.png" alt="" class="center-block"/>
                      </div>
                      <div class="col-xs-offset-2 col-xs-2">
                      <img src="../img/logos/Horizons.png" alt="" class="center-block"/>
                    </div>
                  </div>
            </div>


            <div class="container work-logos3 center-block">
                <div class="row">
                    <div class="col-xs-offset-1 col-xs-2 ">
                      <img src="../img/logos/Lourse.png" alt="" class="center-block"/>
                    </div>
                      <div class="col-xs-offset-2 col-xs-2">
                      <img src="../img/logos/PopcornFx.png" alt="" class="center-block"/>
                      </div>
                      <div class="col-xs-offset-2 col-xs-2">
                      <img src="../img/logos/WCS.png" alt="" class="center-block"/>
                    </div>
                  </div>
            </div>

onmouseover="this.src='../img/logos/3prime.png'" onmouseout="this.src='../img/logos/3primeNB.png'"/>


  </div>
</section>
