<section>

  <a id="title_page"></a>
  <div ng-parallax pattern="'/img/pictures/visu-top-coworkers.png'" speed="10" reverse="false" class="headers">
        <div class="container text-center">
            <h1 class="intro-title"inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head1"> {{$ctrl.page.content.head1}}</h1>
        </div>
        <div class="container text-center">
            <img class="img-responsive redline" src="/img/icons/line.png">
            <p class="intro-subtitle" inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para1">{{$ctrl.page.content.p1}}</p>
            <div class="icon-scroll container text-center">
                <a class="icon_scroll" ng-click="$ctrl.gotofirstPart()"></a>
            </div>
        </div>
    </div>
    <adminnav edit-mode="$ctrl.editMode" ng-model="$ctrl.page"/>

    <a id="firstPart"></a><div class="container normal_bloc text-justify">
      <h1 inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.head2"> {{$ctrl.page.content.head2}} </h1>
      <p inline-text-editor edit-mode="{{$ctrl.editMode}}" ng-attr-contenteditable="{{$ctrl.editMode || undefined}}" ng-class="{'editable inline-text-editor' : $ctrl.editMode}" ng-model="$ctrl.page.content.para2"> {{$ctrl.page.content.p2}}</p>
    </div>

    <div class="container container_ac container_ac_coworkers" ng-repeat="coworker in $ctrl.coworkers">
    <div class="row row_ac" >
      <div class="col-xs-12 col-md-4 img_ac">
        <div style="height: 518px;width: 100%;background: url({{coworker.image}});background-size: cover;background-position: center;" class="col-xs-12 col-md-4 img_ac" ></div>
      </div>

      <div class="col-xs-12 col-md-8">
            <h2 class="h2_ac">{{coworker.company}}</h2>
            <h3 class="h3_ac">{{coworker.slogan}}</h3>
            <div class="p_ac p_ac_coworkers" ng-bind-html="coworker.resume"></div>
        </div>
        <a href="{{coworker.website}}" class="col-xs-offset-3 col-xs-7 col-sm-offset-5 col-sm-2 btn-default btn_ac"> Voir le site web </a>
    </div>
    </div>

    <div class="icon-scroll container text-right">
        <a ng-click="$ctrl.gototitle()" class="icon_scroll_top"></a>
    </div>

</section>
